################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebhookReceiver/FileContentIndex
/.vs/WebhookReceiver/v17/.wsuo
